   body {
       margin: 0;
       padding: 0;
       height: 500vh;
       overflow: hidden;
   }

   video#video {
       width: 100%;
       object-fit: cover;
       opacity: .7;
       border: 2px solid rgba(255, 255, 255, .4);
       height: 200px;
       transform: rotateY(180deg);
   }

   .videoplay {
       opacity: .8;
       /* display: none; */
       top: 0;
       left: 0;
       z-index: 8888;
       position: absolute;
       width: 100vw;
       height: 100vh;
       object-fit: cover;

   }

   .card {
       overflow: hidden;
       border: 2px solid white;
       box-shadow: 20px 20px 60px #bebebe,
           -20px -20px 60px #ffffff;
       border-radius: 10px;
       transition: all 400ms ease;
       /* transform: translateX(100%); */
   }



   .panel-control {
       padding: 20px;
       position: absolute;
       z-index: 9999;
       bottom: 40px;
       width: 700px;
       left: 50%;
       border: 2px solid rgba(255, 255, 255, .4);
       transform: translateX(-50%);
       display: flex;
       justify-content: space-evenly;

       .tr {
           width: 50px;
           height: 50px;
           display: flex;
           justify-content: center;
           border-radius: 50%;
           align-items: center;
           border: 2px solid #fafaf6;

           &:hover {
               i {
                   transform: scale(.7) rotate(23deg);
               }
           }

           i {
               transition: all 400ms ease;
               color: #fafaf6 !important;
           }
       }

   }

   .restart {
       transition: all 400ms ease;


       &.active {
           transform: rotate(45deg);
       }

       &:hover {
           transform: rotate(45deg);
       }
   }



   .panel-control {
       background-color: rgba($color: #226089, $alpha: .8);
       border-radius: 10px;
       border: 2px solid white;
       box-shadow: 10px 10px 10px rgba($color: #5d5d5a, $alpha: .5),
           -5px -5px 10px rgba($color: #494947, $alpha: .5);

       i {
           color: white;
           cursor: pointer;
           font-size: 2em;
       }

       .tombol {
           border: 2px solid white;
           display: flex;
           justify-content: center;
           width: 50px;
           height: 50px;
           border-radius: 50%;
           align-items: center;

           &:hover {
               i {
                   transform: scale(.8);
               }
           }


           i {
               transition: all 400ms ease;
               color: #fafaf6;
           }
       }
   }



   .ct-petunjuk {
       position: absolute;
       top: 40px;
       left: 20px;
       z-index: 9999;
   }

   .petunjuk {
       border-radius: 20px !important;
       background: rgba(255, 255, 255, 0.25) !important;
       box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
       backdrop-filter: blur(4px) !important;
       -webkit-backdrop-filter: blur(4px);
       /* border-radius: 10px; */
   }